HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Neo4j excludes ###
src/main/**/graphdb/conf/
src/main/**/graphdb/data/databases/
src/main/**/graphdb/data/transactions/
src/main/**/graphdb/logs/
src/main/**/graphdb/plugins/
src/main/java/com/personal/OnePiece/graphdb/data/transactions/
src/main/**/graphdb/data/server_id
src/main/**/graphdb/import/
src/main/**/graphdb/data/dbms/
